<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <ul class="list-unstyled">
            <% @users.each do |user| %>
                <% if user.profile %>
                    <% profile = user.profile %>
                    <li>
                        <div class="well row <%= cycle('alt-well', '') %>">
                            <div class="col-md-2 text-center">
                                <%= link_to user do %>
                                    <% if profile.avatar_file_name %>
                                        <%= image_tag profile.avatar.url( :thumb ), class: "profile-avatar" %>
                                    <% else %>
                                        View Full Profile
                                    <% end %>
                                <% end %>
                            </div>
                            <div class="col-md-10">
                                <% full_name = profile.first_name << " " << profile.last_name %>
                                <h3><%= full_name %></h3>
                                <p>
                                    <%= profile.job_title %>
                                    <% if user.plan_id == 2 %>
                                        <span class="label label-info">PRO</span>
                                    <% end %>
                                </p>
                            </div>
                        </div>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>